<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head th:replace="~{fragments/head :: head('Eyeworld')}">
</head>

<body>
    <th:block th:fragment="links">
        <link rel="stylesheet" type="text/css" th:href="@{/static/app/main/css/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/app/movie/css/style.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    </th:block>


    <div id="app">
        <!-- header -->
        <div th:replace="fragments/header :: header"></div>

        <div class="subpage_contain">
            <h2 class="page_title">고튜브</h2>
            <div class="kpop__box">
                <!-- 비디오 리스트 추가 -->
                <div class="video__inner">
                    <ul class="video__list">
                        <li class="video__item">
                            <a href="#">
                                <div class="video__thumbnail">
                                    <img th:src="@{/static/common/assets/images/thumbnail01.png}" alt="Music Video Thumbnail">
                                </div>
                                <div class="video_info">
                                    <div class="video_user">
                                        <img th:src="@{/static/common/assets/images/profile.png}" alt="Channel Profile">
                                    </div>
                                    <div class="video_info_wrapp">
                                        <h3>Zack Hemsey - "The Way"</h3>
                                        <p>Zack Hemsey</p>
                                        <span class="date">16K views   2 months ago</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="video__item">
                            <a href="#">
                                <div class="video__thumbnail">
                                    <img th:src="@{/static/common/assets/images/thumbnail03.png}" alt="Music Video Thumbnail">
                                </div>
                                <div class="video_info">
                                    <div class="video_user">
                                        <img th:src="@{/static/common/assets/images/profile.png}" alt="Channel Profile">
                                    </div>
                                    <div class="video_info_wrapp">
                                        <h3>Zack Hemsey - "The Way"</h3>
                                        <p>Zack Hemsey</p>
                                        <span class="date">16K views   2 months ago</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="video__item">
                            <a href="#">
                                <div class="video__thumbnail">
                                    <img th:src="@{/static/common/assets/images/thumbnail.png}" alt="Music Video Thumbnail">
                                </div>
                                <div class="video_info">
                                    <div class="video_user">
                                        <img th:src="@{/static/common/assets/images/avatar01.png}" alt="Channel Profile">
                                    </div>
                                    <div class="video_info_wrapp">
                                        <h3>Zack Hemsey - "The Way"</h3>
                                        <p>Zack Hemsey</p>
                                        <span class="date">16K views   2 months ago</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="video__item">
                            <a href="#">
                                <div class="video__thumbnail">
                                    <img th:src="@{/static/common/assets/images/thumbnail04.png}" alt="Music Video Thumbnail">
                                </div>
                                <div class="video_info">
                                    <div class="video_user">
                                        <img th:src="@{/static/common/assets/images/avatar.png}" alt="Channel Profile">
                                    </div>
                                    <div class="video_info_wrapp">
                                        <h3>Zack Hemsey - "The Way"</h3>
                                        <p>Zack Hemsey</p>
                                        <span class="date">16K views   2 months ago</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="video__item">
                            <a href="#">
                                <div class="video__thumbnail">
                                    <img th:src="@{/static/common/assets/images/thumbnail01.png}" alt="Music Video Thumbnail">
                                </div>
                                <div class="video_info">
                                    <div class="video_user">
                                        <img th:src="@{/static/common/assets/images/profile.png}" alt="Channel Profile">
                                    </div>
                                    <div class="video_info_wrapp">
                                        <h3>Zack Hemsey - "The Way"</h3>
                                        <p>Zack Hemsey</p>
                                        <span class="date">16K views   2 months ago</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="video__item">
                            <a href="#">
                                <div class="video__thumbnail">
                                    <img th:src="@{/static/common/assets/images/thumbnail03.png}" alt="Music Video Thumbnail">
                                </div>
                                <div class="video_info">
                                    <div class="video_user">
                                        <img th:src="@{/static/common/assets/images/profile.png}" alt="Channel Profile">
                                    </div>
                                    <div class="video_info_wrapp">
                                        <h3>Zack Hemsey - "The Way"</h3>
                                        <p>Zack Hemsey</p>
                                        <span class="date">16K views   2 months ago</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="video__item">
                            <a href="#">
                                <div class="video__thumbnail">
                                    <img th:src="@{/static/common/assets/images/thumbnail.png}" alt="Music Video Thumbnail">
                                </div>
                                <div class="video_info">
                                    <div class="video_user">
                                        <img th:src="@{/static/common/assets/images/avatar01.png}" alt="Channel Profile">
                                    </div>
                                    <div class="video_info_wrapp">
                                        <h3>Zack Hemsey - "The Way"</h3>
                                        <p>Zack Hemsey</p>
                                        <span class="date">16K views   2 months ago</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="video__item">
                            <a href="#">
                                <div class="video__thumbnail">
                                    <img th:src="@{/static/common/assets/images/thumbnail04.png}" alt="Music Video Thumbnail">
                                </div>
                                <div class="video_info">
                                    <div class="video_user">
                                        <img th:src="@{/static/common/assets/images/avatar01.png}" alt="Channel Profile">
                                    </div>
                                    <div class="video_info_wrapp">
                                        <h3>Zack Hemsey - "The Way"</h3>
                                        <p>Zack Hemsey</p>
                                        <span class="date">16K views   2 months ago</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <!-- 광고 배너 슬라이더 -->
                    <div class="swiper advertise_img">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img th:src="@{/static/common/assets/advert/banner01.png}" alt="Advertisement Banner"></div>
                            <div class="swiper-slide"><img th:src="@{/static/common/assets/advert/banner02.png}" alt="Advertisement Banner"></div>
                            <div class="swiper-slide"><img th:src="@{/static/common/assets/advert/banner04.png}" alt="Advertisement Banner"></div>
                            <div class="swiper-slide"><img th:src="@{/static/common/assets/advert/banner05.png}" alt="Advertisement Banner"></div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                    <!-- 두 번째 비디오 리스트 -->
                    <ul class="video__list">
                        <li class="video__item">
                            <a href="#">
                                <div class="video__thumbnail">
                                    <img th:src="@{/static/common/assets/images/thumbnail01.png}" alt="Music Video Thumbnail">
                                </div>
                                <div class="video_info">
                                    <div class="video_user">
                                        <img th:src="@{/static/common/assets/images/profile.png}" alt="Channel Profile">
                                    </div>
                                    <div class="video_info_wrapp">
                                        <h3>Zack Hemsey - "The Way"</h3>
                                        <p>Zack Hemsey</p>
                                        <span class="date">16K views   2 months ago</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="video__item">
                            <a href="#">
                                <div class="video__thumbnail">
                                    <img th:src="@{/static/common/assets/images/thumbnail03.png}" alt="Music Video Thumbnail">
                                </div>
                                <div class="video_info">
                                    <div class="video_user">
                                        <img th:src="@{/static/common/assets/images/profile.png}" alt="Channel Profile">
                                    </div>
                                    <div class="video_info_wrapp">
                                        <h3>Zack Hemsey - "The Way"</h3>
                                        <p>Zack Hemsey</p>
                                        <span class="date">16K views   2 months ago</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="video__item">
                            <a href="#">
                                <div class="video__thumbnail">
                                    <img th:src="@{/static/common/assets/images/thumbnail.png}" alt="Music Video Thumbnail">
                                </div>
                                <div class="video_info">
                                    <div class="video_user">
                                        <img th:src="@{/static/common/assets/images/avatar01.png}" alt="Channel Profile">
                                    </div>
                                    <div class="video_info_wrapp">
                                        <h3>Zack Hemsey - "The Way"</h3>
                                        <p>Zack Hemsey</p>
                                        <span class="date">16K views   2 months ago</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="video__item">
                            <a href="#">
                                <div class="video__thumbnail">
                                    <img th:src="@{/static/common/assets/images/thumbnail04.png}" alt="Music Video Thumbnail">
                                </div>
                                <div class="video_info">
                                    <div class="video_user">
                                        <img th:src="@{/static/common/assets/images/avatar.png}" alt="Channel Profile">
                                    </div>
                                    <div class="video_info_wrapp">
                                        <h3>Zack Hemsey - "The Way"</h3>
                                        <p>Zack Hemsey</p>
                                        <span class="date">16K views   2 months ago</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="video__item">
                            <a href="#">
                                <div class="video__thumbnail">
                                    <img th:src="@{/static/common/assets/images/thumbnail01.png}" alt="Music Video Thumbnail">
                                </div>
                                <div class="video_info">
                                    <div class="video_user">
                                        <img th:src="@{/static/common/assets/images/profile.png}" alt="Channel Profile">
                                    </div>
                                    <div class="video_info_wrapp">
                                        <h3>Zack Hemsey - "The Way"</h3>
                                        <p>Zack Hemsey</p>
                                        <span class="date">16K views   2 months ago</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="video__item">
                            <a href="#">
                                <div class="video__thumbnail">
                                    <img th:src="@{/static/common/assets/images/thumbnail03.png}" alt="Music Video Thumbnail">
                                </div>
                                <div class="video_info">
                                    <div class="video_user">
                                        <img th:src="@{/static/common/assets/images/profile.png}" alt="Channel Profile">
                                    </div>
                                    <div class="video_info_wrapp">
                                        <h3>Zack Hemsey - "The Way"</h3>
                                        <p>Zack Hemsey</p>
                                        <span class="date">16K views   2 months ago</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="video__item">
                            <a href="#">
                                <div class="video__thumbnail">
                                    <img th:src="@{/static/common/assets/images/thumbnail.png}" alt="Music Video Thumbnail">
                                </div>
                                <div class="video_info">
                                    <div class="video_user">
                                        <img th:src="@{/static/common/assets/images/avatar01.png}" alt="Channel Profile">
                                    </div>
                                    <div class="video_info_wrapp">
                                        <h3>Zack Hemsey - "The Way"</h3>
                                        <p>Zack Hemsey</p>
                                        <span class="date">16K views   2 months ago</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="video__item">
                            <a href="#">
                                <div class="video__thumbnail">
                                    <img th:src="@{/static/common/assets/images/thumbnail04.png}" alt="Music Video Thumbnail">
                                </div>
                                <div class="video_info">
                                    <div class="video_user">
                                        <img th:src="@{/static/common/assets/images/avatar01.png}" alt="Channel Profile">
                                    </div>
                                    <div class="video_info_wrapp">
                                        <h3>Zack Hemsey - "The Way"</h3>
                                        <p>Zack Hemsey</p>
                                        <span class="date">16K views   2 months ago</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="btn-area">
                    <button type="button" class="btn btn-primary" id="writeBtn" onclick="location.href='/video_write'">업로드</button>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div th:replace="fragments/footer :: footer"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script th:src="@{/static/app/movie/js/index.js}"></script>
</body>

</html>