<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head th:replace="~{fragments/head :: head('Eyeworld')}">
</head>

<body>
    <th:block th:fragment="links">
        <link rel="stylesheet" type="text/css" th:href="@{/static/app/main/css/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/app/communication/css/style.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    </th:block>
    <div id="google_translate_element"></div>

    <div id="app">
        <div th:replace="fragments/header :: header"></div>


        
        <!-- footer -->
        <div th:replace="fragments/footer :: footer"></div>
    </div>

</body>
</html>