.faq {
    max-width: 1200px;
    margin: 0 auto;
    padding: 140px 0;

    h1 {
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -0.4px;
        color: #1A1A1A;
        padding-bottom: 16px;
    }

    .accordion {
        height: auto;
        margin: 0 auto;
        border-top: 1px solid #000000;

        &-item {
            padding: 20px 0;
            margin: 0;
            overflow: hidden;
            border-bottom: 1.3px solid #d4d4d4;

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: 700;
                font-size: 22px;
                letter-spacing: -0.4px;
                cursor: pointer;
                color: #000000;

                svg {
                    font-size: 0.9rem;
                    color: #454545;
                    transform: translateX(-50%) rotate(0);
                    transition: transform 0.15s ease;
                }
            }

            .paragraph {
                font-weight: 400;
                font-size: 20px;
                letter-spacing: -0.6px;
                color: #1A1A1A;
                display: none;
                padding: 1rem 0;
                list-style: inside;
                line-height: 1.4;

                .indent {
                    text-indent: 1rem;
                }

                span {
                    font-weight: bold;
                }
            }

            &.active {
                .title {
                    border-bottom: 1.3px solid #d4d4d4;
                    padding-bottom: 20px;

                    svg {
                        transform: translateX(-50%) rotate(180deg);
                    }
                }

                .paragraph {
                    display: block;
                    padding: 30px 0;
                }
            }
        }
    }
}

.privacy-policy{
    margin: 100px auto;
}

