<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Eyeworld</title>

    <!-- meta tag -->
    <meta name="description" content="전세계 청소년 커뮤니티 포털 | 우리가 만들어가는 지식 공장" />
    <meta property="og:title" content="Eyeworld" />
    <meta property="og:description" content="전세계 청소년 커뮤니티 포털 | 우리가 만들어가는 지식 공장" />
    <meta property="og:image" th:content="@{/common/assets/og_thumbnail.png}" />
    <meta property="og:url" content="https://eyeworld.vercel.app" />

    <!-- favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57"
        th:href="@{/common/assets/favicon/apple-touch-icon-57x57.png}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        th:href="@{/common/assets/favicon/apple-touch-icon-114x114.png}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        th:href="@{/common/assets/favicon/apple-touch-icon-72x72.png}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        th:href="@{/common/assets/favicon/apple-touch-icon-144x144.png}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60"
        th:href="@{/common/assets/favicon/apple-touch-icon-60x60.png}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
        th:href="@{/common/assets/favicon/apple-touch-icon-120x120.png}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76"
        th:href="@{/common/assets/favicon/apple-touch-icon-76x76.png}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
        th:href="@{/common/assets/favicon/apple-touch-icon-152x152.png}" />
    <link rel="icon" type="image/png" th:href="@{/common/assets/favicon/favicon-196x196.png}" sizes="196x196" />
    <link rel="icon" type="image/png" th:href="@{/common/assets/favicon/favicon-96x96.png}" sizes="96x96" />
    <link rel="icon" type="image/png" th:href="@{/common/assets/favicon/favicon-32x32.png}" sizes="32x32" />
    <link rel="icon" type="image/png" th:href="@{/common/assets/favicon/favicon-16x16.png}" sizes="16x16" />
    <link rel="icon" type="image/png" th:href="@{/common/assets/favicon/favicon-128.png}" sizes="128x128" />

    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" th:content="@{/common/assets/favicon/mstile-144x144.png}" />
    <meta name="msapplication-square70x70logo" th:content="@{/common/assets/favicon/mstile-70x70.png}" />
    <meta name="msapplication-square150x150logo" th:content="@{/common/assets/favicon/mstile-150x150.png}" />
    <meta name="msapplication-wide310x150logo" th:content="@{/common/assets/favicon/mstile-310x150.png}" />
    <meta name="msapplication-square310x310logo" th:content="@{/common/assets/favicon/mstile-310x310.png}" />
    <!-- favicon end -->

    

    <!-- css -->
    <link rel="stylesheet" type="text/css"  th:href="@{/static/common/css/style.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/static/common/css/layouts/header.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- 페이지별 CSS -->
    <th:block th:replace="${links} ?: ~{}"></th:block>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script defer type="text/javascript" th:src="@{/static/common/js/index.js}"></script>
    <th:block th:replace="${scripts} ?: ~{}"></th:block>
</head>

</html>