<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head th:replace="~{fragments/head :: head('Eyeworld')}">
</head>

<body>
    <th:block th:fragment="links">
        <link rel="stylesheet" type="text/css" th:href="@{/static/app/main/css/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/app/communication/css/style.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    </th:block>
    <div id="google_translate_element"></div>

    <div id="app">
        <div th:replace="fragments/header :: header"></div>

        <div class="main__content">
            <div class="content_inner">
                <h3 class="content_title">회사 소개</h3>
                <p>
                    안녕하십니까<br>
                    저희 아이월드를 방문해주신 고객님깨 진심으로 머리숙여 감사의 인사를 올립니다. <br>
                    이제 인류의 평화 시계는 멈추어 섰습니다<br>
                    소중한 생명들이 도처에서 피를 흘리고 죽어가고 있으며 기아와 난민은 기하 급수적으로 늘어나고 있습니다.<br>
                    고귀한 평화의 가치가 무너진 지구촌은 위기와 절망으로 치닫고 있습니다.<br>
                    이모든 결과는 자국의 실리주의만을 쫒는 야만의 독재자들과 생물 자본주의가 펼치는 이익독점의 게임결과입니다 <br>
                    이제 협동과 배려와 나눔과 헌신의 성스러운 소멸되어가고 있습니다.<br>
                    지구촌의 희망이 굴절되고 사라지는 초 인류 위기의 시대는 언제 따스한 희망으로 바뀌어질지 아무도 모르는 상황입니다. <br>
                    아이월드는 배려와 협동과 나눔과 헌신과 희생의 새로운 역사를 만들어 가기위해서 탄생이 되었습니다.<br>
                    우리는 이익을 위해서 생명을 해치는 전쟁을 반대하며 멈추어선 평화를 제건하고 인류모두가 서로 사랑하고 배려하며 존중하면서 살생과 다툼없는 평화로운 지구촌을
                    열어가고자 합니다<br>
                    이러한 시대 사명을 완수하기 위해서는 미래세대인 청소년들에게 국경과 이념을 초
                    월한 새로운 인류상을 제안하고 학습을 지키면서 교육이 감당하지 못하는 다양한 영
                    역의 정보와 시스템과 상식과 윤리와 도덕과 인간으로서 지켜야하는 개념을 교육하고
                    이러한 정보를 제공하는 역할을 감당하고자 합니다<br>
                    아이월드는 살아있는 열린 지식과 정보의 마당입니다.<br>
                    모든 사용자는 지식의 수급자이면서 공급자입니다. 그리고 모든 사용자는 유익의 거
                    점을 확보해야 하는 권리를 제공합니다.<br>
                    지금세계는 세대간의 갈등과 청소년의 탈선 문제가 또다른 인류의 재앙으로 비화되
                    고 있습니다.<br>
                    우리는 아이월드의 가치와 수단을 통해서 청소년의 문제를 해결하고 그
                    들의 생존지형이 평화와 문명의 축제속에서 살아갈수 있도록 최선을 다하고자 합니다<br>
                    세계의 지성과 기성세대들은 모두가 협력하여 청소년의 올바른 세상을 만들어가는일
                    에 격의없는 협조와 지원이 함께 하시기를 기도하는 바입니다<br>
                    <br>
                    <br>
                    <span>2024년 아이월드 창업주 및 대표 회장 이찬석 배상</span>
                </p>
            </div>

            <div class="content_inner">
                <h3 class="content_title">기업의 가치</h3>
                <p>
                    아이월드는 세계최초의 청소년을 위한 정보 포털 싸이트입니다.<br>
                    이곳에서 세게의 모든 청소년이 하나가 되고 서로를 존중하는 문화를 습득하고<br>
                    교류를 할것이며 그들 모두가 서로 하나의 인류라는 개념적인 일체성을 확립<br>
                    하여 지구촌을 아름답게 만들어가는 귀중하고 혁신적인 역사가 만들어 질것입니다<br>
                    아이월드는 청소년의 인터넷국가입니다<br>
                    그들은 관행적인 지식이 아닌 세계의 지성을 배울것이며 건강한 상식과 실험과 재능
                    을 꽃피는 시간여행을 즐겨 할것입니다<br>
                    이러한 마당을 만들어 놓았다는 사실은 인류에 새로운 희망을 심는 기회가 될것이며<br>
                    이곳에서 재공하는 살아 있는 지식은 청소년의 인격 함양에 도움을 주고 창조적이고<br>
                    혁신적인 탐구적 삶을 살아 갈수 있을 것입니다<br>
                    이것은 가장 위대한 기회이고 가치이며 도전이고 혁명입니다
                </p>
            </div>

            <div class="content_inner">
                <h3 class="content_title">기업 이념</h3>
                <p>
                    · 신인류탄생<br>
                    · 세계평화정착<br>
                    · 정보의 생산성 증대<br>
                    · 관계망의 세계화<br>
                    · 세대간의 갈등<br>
                    · 청소년 문제 해결<br>
                    · 인류애적인 가치 창출<br>
                    · 보편적이고 합리적인 지성의 연대<br>
                </p>
            </div>

            <div class="content_inner">
                <h3 class="content_title">강령</h3>
                <p>
                    우리는 오직 청소년 삶의 건강성을 회복하고 올바른 인격을 함양하며 진로와<br>
                    발견의 안내자가 되며 서로 사랑하고 존중하는 신인류의 양성하는데 주력하며<br>
                    사익의 노예가 되지 않고 공공의 가치에 부합하며 청소년의 세계가 인류애적인 가치<br>
                    로 전환되는 일에만 최선을 다하기로 한다
                </p>
            </div>

            <div class="content_inner">
                <h3 class="content_title">윤리헌장</h3>
                <p>
                    우리는 기업의 가치를 공공의 희망 키우기로 정하고 사회적 재산이라는 개념에 우선<br>
                    하며 하나의 가치를 도출할 때 마다 인류애 이로움을 안겨주는 것에 주안점을 두고<br>
                    연구하고 실험하고 일에 최선을 다하기로 한다
                </p>
            </div>

            <div class="content_inner">
                <h3 class="content_title">사훈</h3>
                <p>
                    1. 무한 헌신<br>
                    2, 무한 봉사<br>
                    3. 무한 실험<br>
                    4, 무한 탐구<br>
                    5. 무한 도전
                </p>
            </div>

            <div class="content_inner">
                <h3 class="content_title">지침</h3>
                <p>
                    1.우리는 기업의 가치를 고객의 사랑과 존중에 주안점을 둔다<br>
                    2, 우리는 세계청소년 문화를 월등하게 올바르고 상싱적이며 인류애적인 지성을 함양
                    화는데 주력한다<br>
                    3.우리는 기업의 이익을 사용자의 이익으로 전환을 시키고 사익의 노예가 되지 않고
                    정진한다
                </p>
            </div>

            <div class="content_inner">
                <h3 class="content_title">비젼</h3>
                <p>
                    우리는 향후 2년이내에 전세계에 서비스 망을 구축진출하여 유엔의 모든 국가
                    청소년들이 서비스를 사용할수 있도록 할것이며 다음과 같은 새로운 분야에 진출을
                    할 것이다<br>
                    우리는 세계최초로 청소년 은행을 만들어서 그들의 진학.면학.실험.여행 학문연구.독
                    서.발명 취업. 재산증식 등을 도울 것이다<br>
                    우리는 청소년을 유해한 환경으로부터 벗어나 안전한 환경에서 소중한 생명을 지킬수
                    있도록 청소년 전문 전자 상거래를 개설할 것이다<br>
                    우리는 청소년 전용 메신져를 만들어 전세계의 청소년들이 소통의 강화를 통해 인류의 발전과 평화를 재건하는데 공감하고 활동 성정할수 있도록 할 것이다
                </p>
            </div>

            <div class="content_inner">
                <h3 class="content_title">인재상</h3>
                <p>
                    우리는 자신의 과거의 지식에 머물지 않고 새로운 탐구와 지적
                    연구 몰두의 집중력을 가지며 새로운 지식을 연구하고 탐험하며
                    자신의 지식을 무한 헌신하고 사회의 건강성을 위해 노력하고 인
                    류애적인 관심을 가지며 사회를 밝게하기위해서 헌심과 봉사를
                    아끼지 않으며 세계적인 관계망을 구축하고 이를 분석하며 어제
                    의 생각으로 오늘을 살지 않으며 언제나 새로운 생각과 실험을
                    즐겨하는 사람을 인재상으로 삼았다
                </p>
            </div>

            <div class="content_inner">
                <h3 class="content_title">운영정책</h3>
                <p>
                    1. 사용 전 반드시 숙지 하시기를 요청합니다 .<br>
                    2. 고객님의 쾌적한 서비스 이용을 위해 운영정책을 적용하고 있습니다.<br>
                    3. 다음과 같은 활동은 금지하고 있습니다.<br>
                    4. 계정과 서비스 이용이 제한될 수 있습니다.<br>
                    5. 아동과 청소년 대상 성범죄에 대해서는 무관용 원칙을 적용합니다.<br>
                    6. 서비스 장기 미이용 처리 정책<br>
                    7. 청소년 윤리지침을 마련했습니다.<br>
                    8. 지식 기반을 전제로 운영되고 있습니다.<br>
                    9. 세계의 지성을 모시고 운영체계를 갖추게 되었습니다.<br>
                    10. 전 세계의 문화와 지식을 집대성 했습니다.<br>
                    11. 사용자의 위주로 운영 체계를 만들었습니다<br>
                    12. 활동은 무제안이며 매일 살아 있는 지식을 제공합니다.<br>
                    13. 사용자는 지식을 가져 가기도 하지만 지식을 내려놓고 가야 합니다<br>
                    14. 매일 매일 새로운 지식과 정보가 등재가 됩니다<br>
                    15. 사용자의 윤리 규정을 두었습니다<br>
                    16. 아이월드는 오직 청소년의 무대이며 세상입니다<br>
                    17, 어른들도 아용할 수가 있으나 반드시 청소년의 문화임을 인식하고 사용을 해야
                    합니다.<br>
                    18. 어른들과 청소년이 하나가 되고 서로가 이해를 돕는관계를 지향합니다
                </p>
            </div>

            <div class="content_inner">
                <div class="content-wrapper">
                    <p>
                    본 운영정책은 주식회사 아이월드 (이하 ‘회사’)가 제공하는 아이월드 서비스 및 다양한 인
                    서비스를 사용하는 운영상에 발생되는 , 서비스의 돌발사고 및 법적인 대응/사용자권한의
                    윤리규정 등 문제 상황에 대하여 일관성 공정성 합리성을 기반으로 고객의 서비스를
                    인간적이고 배려 있게 신속하게 대처하기 위해서 서비스 운영방침과 명백한 기준을 정하였
                    습니다. 
                    <br>
                    <br>
                    본 운영정책을 지키지 않으실 경우에는 상호 불이익을 당할 수 있으니 주의 깊게 읽어 주시기 바랍니다.
                    <br>
                    <br>
                    본 운영정책에서 별도로 정의하지 않은 용어는 아이월드 통합서비스 약관에서 정한 용어의 정의에 따릅니다. 
                    <br>
                    <br>
                    다만 본 운영정책을 시행함에 있어 고객의 서비스 실행을 구현하는 측면에서 전체적인 “개별적인 서비스”라 함은 아이월드 본류를 상대로 배정되는 특수하고 별도
                    의 브랜드 단위 개별 서비스 내의 세부 하위 서비스까지 총칭하여 지정함을 유의하여 주시기 바랍니다.
                    <br>
                    <br>
                    아이월드는 서비스와 관련된 정책을 개선하고자 사용자분들의 의견을 존중하고 상호 교환을 통해 합리적이고 가장 배려가 있는 운영정책을 세울 수 있도록 노력하고 있습니다.
                    <br>
                    본 운영정책이 변경되는 경우 최소 7일 전에 공지 사항을 통해 공지하도록 하겠습니다.
                    <br>
                    <br>
                    2. 고객의 쾌적하고 편리하며 공정한 서비스 이용을 위해 운영정책을 적용하고 있습니다.
                    <br>
                    아이월드는 고객님의 쾌적한 서비스 이용을 위해 운영정책에 근거하여 서비스를 운영하고
                    있습니다.
                    <br>
                    아이월드 서비스 이용 중 다른 이용자가 규정을 위반하거나 운영정책의 위반으로 피해를 입
                    으신 경우, <br>고객님은 위반 사실을 회사에 즉시 제보하여 운영정책의 합리적인 적용을 요청
                    할 수 있으며, <br>회사는 신고 내용을 확인하여 운영정책에 따른 제재 조치를 취할 수 있습니
                    다.
                    <br>
                    아이월드는 관련 법령 또는 약관에 위배 되거나 본 운영정책에서 금지하는 활동이 발견된
                    경우, 운영정책에 따른 제제 조치를 취할 수 있습니다. 
                    <br>그러나, 서비스 내 이용자들 간에 분쟁의 사건이 발생하는 사안에 대해서는 스스로의 과실은 아이월드가 개입하거나 조치하지
                    않습니다.
                    <br>
                    기타 다양하고 특수한 방법으로 사회상규에 반하는 운영정책에 위반된 내용이 발견되어 제
                    재가 진행되는 경우, <br>회사는 게시자에게 서비스 내 알림, 메일 통보 서면 등의 방법으로 제
                    재 내용 등을 최대한 신속히 알리도록 하겠습니다.
                    <br>
                    다만, 다른 이용자의 긴급한 보호가 필요하거나, 사회활동의 방해 등 제재 내용 전달이 불가능한 등의 경우에는 그러하지 않을 수 있습니다.
                    <br>아이월드는 제재 검토 결과를 신고자에게 통지할 의무가 있습니다.
                    <br>
                    여러분이 운영정책의 적용 결과가 불만족스러울 경우 고객센터를 통해 이의를 신청할 수 있
                    으며, <br>회사는 접수된 이의제기를 검토하여 수용 여부를 회신 드리겠습니다.
                    <br>
                    고객님들께서는 다음과 같은 내용의 활동을 금지하고 있습니다.

                    </p>

                    <div class="inner_box">
                        <span>(윤리와 상호 규정)</span>
                        <br>
                        <br>
                        * 타인의 명예를 훼손하거나 진실의 변경 상황의 전환. 사건 조작/ 인격 모독. 피해
                        모함 등의 목적으로 타당하지 않거나 정보의 오류 가짜뉴스 등을 유포하여 특정인을
                        겨냥한 비난과 모의를 하고자 공공의 열람 공간에 글을 남기거나 지나친 비하 비난하
                        는 행위를 금지하고 있습니다.<br><br>
                        * 특히 개인의 사생활을 들추어내거나 진실을 왜곡하는 행위 범죄 모의/결성/동의/
                        사실 아닌 왜곡된 거짓을 유포하는 행위 지나친 편견의 글/ 이익을 얻고자 상대를
                        비판의 재단 위에 올려놓는 행위/ 다툼/ 분열/을 목적으로 규합하거나 선동하는 행위
                        또한 금지하고 있습니다<br><br>
                        * 거짓된 정보/ 거짓된 영상/ 총포사용/ 자연훼손/ 지적재산권 탈취/ 음란물 공개/
                        기타 기술을 이용한 조작/ 이념의 차별 /인권의 침해/ 종교의 자유 침해/ 인종의 편견
                        욕설/ 언어폭력/ 집단 폭력/ 왕따/ 분열 선동/ 지역 차별/성차별/사회 진로의 차단과
                        괴롭힘/사기 등도 금지하고 있습니다.<br><br>
                        *타인의 개인정보를 탈취하거나 이를 이용하거나 사기를 치는 행위/ 타인의 약점을
                        유포하거나 도용/ 모방/ 하는 행위/사회적 물의를 일으키는 공작물을 제작하여 유포하
                        거나 동아리를 만들어 공유하는 행위/공산주의 사상을 유포하거나 사이비 종교 관을
                        유포 또는 게시하는 행위를 금지하고 있습니다.<br><br>
                        * 공공의 질서를 해치거나 사회적 상식을 위반하기 위해서 공영방송/ 광고/논설/
                        외설 문학의ㅡ활동을 하는 행위. 운영 센타의 기밀을 탈취하여 이를 유포 매매
                        하는 행위를 금지하고 있습니다.<br><br>
                        * 신체 중요 부분을 찍은 음란 사진을 게재하는 행위 상대를 공격하고 집단 따돌림
                        을하기 위해서 글을 조작하는 행위 사회의 건전성을 해치기 위해서 상업적인 이익
                        을 취하기 위해서 생성 작동되는 시스템에 접근하여 정보를 탈취하거나 기술적인<br><br>
                        * 메카니즘을 변경 이를 또다른 목적으로 사용하는 행위를 금지하고 있습니다
                        정보 통신법에 위반되는 모든 일체의 행위 사회의 건강성을 해치고 인간 존중의 기분
                        을 벗어난 일체의 행위 비문명적인 돌발 행동/ 이용자의 사용 원칙을 변경 또는 유사
                        한 것으로 조작하여 제동을 걸고 의도적으로 기업의 가치를 훼손하려는 행위를 금지
                        하고 있습니다<br><br>
                        *타인의 정보를 탈취하여 이를 상업적 또는 개인의 유익을 보기 위해 공공의 장소나
                        공공의 사용권 한 내에 있는 커뮤니티 게시판에 공개하는 행위 부모 스승 친구 이웃
                        을 향해 험담/ 비난의 글을 올리는 행위를 금지하고 있습니다<br><br>
                        *저속한 글과 문학 지나치게 외설적 내용. 수필 그림 등의 게시를 금지하고 있습니
                        다.<br><br>
                        * 약물 판매 유도 홍보 설득 모임 동아리 활동을 강력하게 금지하고 있습니다.<br><br>
                        * 책임이 따르지 않거나 민주적인 가치를 흔드는 방임을 주창하고 이를 회합
                        전파 하는 행위를 금지하고 있습니다
                    </div>

                    <div class="inner_box">
                        <span>(서비스 이용 시 절대 지침 의무)</span>
                        <br>
                        <br>
                        (1)불법적인 사행성·도박 사이트를 홍보하는 행위 도는 불법 싸이트를 구축하
                        여 이를 이용하거나 영업을 하는 행위/ 개인의 신체를 노출하여 비방하거나 존
                        엄성을 해치는 행위<br><br>
                        (2)불법 게임 아이템, 점수, 계정 등 유무형의 결과물을 판매, 구매, 환전하거
                        나 요청하는 행위/ 이를 사전에 공모하여 규합하는 행위<br><br>
                        (3)불법 제품 또는 인터넷에서 판매 금지된 물품을 판매하거나 홍보하는 행위
                        제조 동의 규합하는 행위<br><br>
                        (4)범법 행위에 대한 동기 부여 및 실행에 도움이 되는 정보를 제공하는 행위
                        이를 유사한 은어와 사투리. 언어 변조를 통해서 공개하는 행위<br><br>
                        (5)국가의 전기통신사업법에서 금지하는 불법촬영물 등을 유통하는 행위
                        그밖에 모든 나라에서 법률로 금지하는 행위<br><br>
                        (6)악성코드, 바이러스 등의 프로그램을 설치·유포하여 서비스 이용을 저해하
                        는 행위<br><br>
                        (7)컴퓨터 소프트웨어, 하드웨어, 전기통신 장비의 정상적인 가동을 방해·파괴
                        하거나, 할 수 있는 행위<br><br>
                        (8)타인의 개인정보를 탈취·유포·거래하려는 행위<br><br>
                        (9)방송·음원·영화·만화·사진·영상·게시물 등 타인의 저작물을 당사자의 동의
                        없이 공유하거나, 불법적인 경로로 획득할 수 있는 정보나 방법을 제공하는 행
                        위<br><br>
                        (10)타인의 권리에 속하는 상표권, 의장권 등을 무단으로 침해하는 행위<br><br>
                        (11)청소년에게 유해한 과도한 신체 노출이나 음란한 행위를 묘사하는 행위<br><br>
                        (12)성매매 관련 정보를 공유하는 행위<br><br>
                        (13)타인에게 성적 수치심이나 불쾌감·혐오감을 유발할 수 있는 내용을 게시하
                        는 행위<br><br>
                        (14)타인의 성을 착취하는 내용을 담은 영상이나 이미지 등의 콘텐츠를 제공
                        하거나, 이를 제공 또는 이용하려는 의사를 적극적으로 표현하는 행위<br><br>
                        (15)타인의 성을 착취할 목적으로 협박, 유인하거나 이를 모의, 조장하는 행위<br><br>
                        (16)출신(국가, 지역 등)·인종·외양·장애 및 질병 유무·사회 경제적 상황<br><br>
                        및 지위·종교·연령·성별·성 정체성·성적 지향 또는 기타 정체성 요인 등을 이유로 인
                        간으로서의 존엄성을 훼손하거나, 폭력을 선동하거나, 차별·편견을 조장하는 행위증
                        오발언 근절을 위한 아이월드의 원칙 혐오 표현 자율정책 가이드라인을 준수합니
                        다<br><br>
                        (17)자살·동반자살을 목적으로 하거나 방조 또는 유인하는 행위<br><br>
                        (18)동일한 내용을 동일 개별 서비스 또는 여러 개별 서비스에 반복적으로 등
                        록하는 행위<br><br>
                        (19)타인의 명시적인 동의 없이 시스템의 취약점을 이용하여 타인의 게시글
                        또는 공간에 광고·홍보·방문 유도 등 상업적 내용을 등록·전송하거나 ‘공감’,
                        ‘친구신청’ 등의 활동을 하는 행위<br><br>
                        (20)서비스의 명칭 또는 회사의 임직원이나 운영진을 사칭하여 다른 이용자를
                        속이거나 이득을 취하는 등 피해와 혼란을 주는 행위<br><br>
                        (21)욕설·비속어·은어 등의 사용 및 그 외 상식과 사회 통념에 반하는 비정상
                        적인 행위<br><br>
                        (22)언론사의 명의나 언론사의 직책 등을 사칭 또는 도용하여 기사 형태를 갖
                        춘 게시물 중 그 내용이 허위로 판단되는 게시물을 게시하는 행위<br><br>
                        (23) 왕따. 따돌림 비난하는 행위<br><br>
                        (24)회사가 허용하지 않은 악의적인 방법으로 서비스를 이용하는 등 서비스의
                        정상적인 운영을 방해하는 행위

                    </div>

                    <div class="inner_box">
                        <span>(서비스 이용 제안 알림)</span>
                        <br>
                        <br>
                        고객의 활동이 관련 법령에 위배 되거나, 관련 약관 또는 운영정책 현행법을 위반할 경우
                        회사는 다른 이용자를 피해로부터 보호하기 위해 여러분의 계정과 서비스 이용을 제한할 수
                        있습니다. 
                        <br>
                        <br>
                        운영정책 이탈 훼손 불의한 개입 등 구체적으로 명시되거나 해당하지 않는 사항
                        이라고 하더라도 건전하고 안전하며 타당한 서비스 환경 제공에 악영향을 끼치거나 다른 이
                        용자에게 불편을 끼치는 행위도 이용 제한될 수 있다는 점을 참고해 주시기 바랍니다.
                        <br>
                        <br>
                        비정상적인 로그인 또는 악의적인 소멸로 판단되거나, 약관이나 운영정책을 위반할 가능성
                        이 있는 특별한 이용환경 및 이용 패턴이 감지되는 경우 이용자들의 안전한 활동을 보호하
                        기 위하여 이와 동일 하거나 유사한 행위를 제한하고 금지하는 이용자 보호조치가 취하여
                        질 수 있습니다.
                        <br>
                        <br>
                        이용 제한은 위반 활동의 강도.수준 상식위반 정도에 따라 한시적 제한에서 영구적 제한으
                        로 단계적 제한하는 것을 원칙으로 하지만, 음란한 내용의 게시와 유포 및 사행성 도박 홍
                        보 등 관련 법령에서 금지하는 명백한 불법행위나 긴급한 위험 또는 피해 차단이 요구되는
                        사안에 대해서는 위반 활동 횟수의 누적 정도와 관계없이 즉시 영구적으로 이용이 제한될
                        수 있습니다. 
                        <br>
                        <br>
                        또한 여러분이 통합서비스와 관련된 설비의 오작동이나 시스템의 파괴 및 혼
                        란을 유발하는 등 통합서비스 제공에 악영향을 미치거나 안정적 운영을 심각하게 방해한 경
                        우, 회사는 이러한 위험 활동이 확인된 여러분의 계정들에 대하여 이용을 제한할 수 있다는
                        점을 유의하여 주시기 바랍니다. 
                        <br>
                        <br>
                        다만, 여러분은 이용 제한과 관련하여 조치 결과가 불만족스러울 경우 고객센터를 통해 이의를 제기할 수 있습니다.
                        계정과 서비스 이용 제한에 대한 구체적인 내용은 다음 내용을 참고해 주시기 바랍니다.
                    </div>

                    <div class="inner_box">
                        <span>(아동과 청소년 대상 성범죄 무관용 법적인 조치)</span>
                        <br>
                        <br>
                        회사는 유해한 인터넷 환경으로부터 아동과 청소년을 보호하는 것을 중요한 책무로 여기고 있습니다.<br>

                        아동 및 청소년 대상 성범죄에 대해서는 무관용 원칙을 적용합니다.<br>

                        이와 관련된 운영정책을 위반할 경우 누적 정도와 관계없이 즉시 해당 계정과 서비스 이용
                        에 대하여 가장 강력한 제재를 적용하며, 필요시 수사기관의 사법적 대응과 연계하는 등 적
                        극적 조치를 취할 것입니다.<br>

                        아동과 청소년 대상 성범죄가 발생했거나 성범죄 발생 가능성이 높은 상황을 발견하셨다면
                        24시간 365일 운영되는 신고센터로 언제든지 저희에게 신고해 주십시오. 각 서비스의 ‘신고
                        하기’ 기능을 활용해서도 제보하실 수 있습니다.<br>

                        회사는 여러분의 제보를 접수하고 신속하게 필요한 조치를 취하겠습니다.<br>

                        다음과 같은 아동·청소년 대상 성범죄 또는 성범죄 조장 행위는 물론 관련 콘텐츠를 이용
                        하려는 적극적인 의사 표현까지 무관용 원칙 적용 대상에 해당합니다.<br>
                        <br>
                        <br>
                        ①아동·청소년 성착취물을 제작 및 제공하거나 광고·소개하는 행위<br>
                        ②아동·청소년 성착취물임을 알면서도 소지하거나 이용하는 행위<br>
                        ③아동·청소년이 성착취물의 제작에 이용되도록 돕는 행위<br>
                        ④아동·청소년에게 음란물이나 성착취물을 제공하는 행위<br>
                        ⑤아동·청소년의 성을 매매하는 행위<br>
                        ⑥아동·청소년 대상 성범죄를 모의하거나 묘사하는 행위<br>
                        ⑦아동·청소년을 대상으로 한 그루밍(grooming, 길들이기) 행위<br>
                        ⑧아동·청소년의 과도한 성적 대상화<br>
                        ⑨그외 아동·청소년 대상 성범죄를 조장하는 행위
                        <br>
                        <br>
                        회사는 다양한 기술과 정책을 통하여 아동·청소년 성범죄를 예방하도록 최선의 노력을 다
                        하겠습니다.
                    </div>

                    <div class="inner_box">
                        <span>(사회의 공헌성 정책)</span>
                        <br>
                        <br>
                        아이월드는 전 세계 청소년을 상대로 하는 서비스 이용정책을 가지고 있는 회사입니다.<br>
                        따라서 우리는 청소년의 올바른 문화 창달과 개인의 인격 발전. 올바른 품성/합리적인 인격
                        향성 건강한 사회성 확립 이웃과 인류에 공헌하는 배려있고 살아 있는 지식을 습득하는 신 인
                        류애를 양성하고 배출하여 세계 인류의 평화에 기여하는 목적을 갖고 있습니다.<br>
                        보편적이고 상식적이며 배려 있는 인간 폭넓은 지식을 습득하고 모두가 이롭게 상호적인 관계
                        망을 형성하여 편애적이 아닌 공공의 목적에 부합하는 건강한 문화를 열어가 위한 목적을 담고 있습니다 .<br>
                        아이월드는 전 세계의 건강한 지식과 올바른 지식 진리 정보 상식 연구 논문 수필 시문학
                        it정보/ 각종 정보를 실시간 제공하여 청소년들의 올라른 세계관을 갖도록 하고자 합니다.
                    </div>

                    <div class="inner_box">
                        <span>(아이월드의 지향점)</span>
                        <br>
                        <br>
                        아이월드는 고객 위주의 사용 편의와 존엄성 그리고 지점/경계/이념/ 국경/ 지역/ 종교/
                        사상/인종/계층/ 기타 신분의 차이를 통해서 차별을 두지 않으며 모든 사안들이 하나로 결속
                        되고 상호 존중되는 문화를 열어가며 여하한 경우라도 회사의 정책의 개인의 인권을 지배하거
                        나 월권을 행하거나 피해를 주거나 아픔을 주는 행위를 하지 않을것입니다
                    </div>

                    <div class="inner_box">
                        <span>( 아이월드의 설립목적)</span>
                        <br>
                        <br>
                        아이월드는 오직 청소년의 올바른 문화를 열어가고 그들의 상처를 치유하여 국경을
                        넘어서 친구를 사귈 수 있고 문화를 교환하고 체험하며 언어를 배우고 물물을 교환하
                        고 지식을 교환 전달 생산 공급하면서 인류의 건강성과 평화의 가치를 전달하는데 있
                        습니다<br>
                        또한 기성세대와 갈등을 치유하고 대안을 모색하며 파격적으로 열림 공간을 제공하고
                        창의적이고 격동적인 문화의 가치를 습득하고 교류하면서 신인를 양성하는데 목적을
                        두었습니다.
                    </div>
                </div>
            </div>
        </div>
        
        <!-- footer -->
        <div th:replace="fragments/footer :: footer"></div>
    </div>

</body>
</html>