<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head th:replace="~{fragments/head :: head('Eyeworld')}">
</head>

<body>
    <th:block th:fragment="links">
        <link rel="stylesheet" type="text/css" th:href="@{/static/app/main/css/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/app/etc/css/style.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    </th:block>
    <div id="google_translate_element"></div>

    <div id="app">
        <div th:replace="fragments/header :: header"></div>
        <div class="privacy-policy">
            <b>전 세계의 지성 분들에게</b>
            <br>
            아이월드의 탄생을 세계지성과 석학들 연구자 분들 그리고 인류애의 기초를 가지고 살아가시는 사회 지도층 영향력이 있는 연예인 종교지도자 분들, 정치인 학부모 교사 등 다양한 분야에서 사회공헌과
            청소년 문제에 대하여 지대한 관심을 갖고 계시는 수많은 기성세대들과 함께 기쁨을 나누고자 합니다. 아이월드의 출현은 문명 역사에 새로운 이정표를 마련할 최고의 작품이라고 자평하고 있습니다.
            아이월드는 지식포털이라는 새로운 시도와 연구 그리고 청소년을 사랑하는 마음에서 탄생이 되었습니다.
            아이들의 미래는 새롭게 재편되고 보다 인류애적인 평화적인 상황으로 발전되고 변화될 것으로 믿고 있습니다. 오래 동안 왕따 운동을 전개해 왔던 저는 우리가 살고 있는 지금의 세상이 어둡고 평화롭지
            못하지만 청소년이 살아가야 할 미래만큼은 밝고 희망이 넘치는 우애와 배려가 넘치며 더 많은 세상의 경험과 문화적인 지식을 쌓을 수 있어야 한다고 믿고
            감추어둔 꿈과 소망을 장시간의 연구를 바쳐서 실행에 옮기게 되었습니다.
            지금 청소년들에게 필요한 것은 학교의 지식 못지않게 인종과 이념을 벗어나서 많은 친구들을 사귀고 문화적인 체험과 교류를 할 수 있어야 한다는 생각입니다.
            청소년들은 아이월드를 통해서 인류의 소식과 지식을 경험하고 습득함으로서 인류를 하나로 묶는 평화의 학습 여행을 할 수 있을 것이며 서로 배려하는 문화 와 높은 인문학을 접하는
            기회를 갖게 될 것입니다. 그런 점에서 아이월드는 청소년에게 돌아가는 선물이면서 인류를 향한 선물이 될 것입니다. 아이월드는 여러분의 자식이요 유산이며 청소년의 역사이며 희망입니다 따라서
            아이월드가 본래의 사회적 기능을 다할 수 있도록 만은 지식과 경험과 지식을 쏟아 부어 공동의 사명 역할을 다하는 계기로 삼아 나갔으면 하는 바람을 가져 봅니다.
            아이월드의 탄생을 다시 한 번 기쁘게 생각하며 이만 인사를 마칩니다.

            2025년 1월 20일 창업주 의장 이 찬석 배상
            <br>
            <br>
            <br>

            <b>제휴를 기다립니다.</b>
            <br>
            아이월드와 함께 뜨겁게 손을 잡고 공공의 이익과 발전을 도모할 기업과 단체 개인의 다양한 제안을 기다립니다.
            <br>
            <br>
            *특별한 고객 서비스 제휴
            <br>*지식참여 제휴 *창조적인 문명의 가치 제휴
            <br>*청소년의 문화 창달에 앞장설 제휴
            <br>*발명과 공동의 창작물/작품/글 등재 제휴
            <br>*청소년문제 해결방안 논문/창작물게재 제휴 기타
            미래 지향적인 서비스와 제휴를 생각하고 계신지요.
            <br>
            <br>
            * 공동 마케팅/행사/아이월드 브랜드를 활용한 마케팅을 계획하고 계신가요?
            협업, 미디어 노출, 제휴 프로모션 등 파트너사의 소중한 제안을 기다리고 있습니다.
            공익사업 제안
            더 나은 세상을 위해 아이월드 의 사회를 향한 긍정적인 영향력을 확산하고 청소년으로 하여금 다양한 문화 창출과 인류애를 실천하며 청소년의 보호 정책이 입각한 공익사업 제안을 기다립니다.
            <br>
            <br>
            <br>
            <b>청소년 지식정책</b>
            아이월드는 세계 지성들의 지식을 찾고 있습니다. 개인의 명예도 높이고 자신의 지식체계와 연구의 결과 그리고 살아온 생애의 기록들이 청소년들에게 긍정적인 영향을 미친다고 판단이 서신다면 아낌없이
            자신의 업적과 결과물을 세계청소년들이 보고 습득하여 올바른 인격을 함양하는데 사용할 수 있도록 함께 해주시기를 기도합니다.
            <br>
            <br>
            <br>
            <b>공동 연구 운영정책</b>
            아이월드는 새로운 세상입니다. 아이월드는 새로운 기술/ 새로운 지식/ 새로운 발명/새로운 정보/ 새로운 창조적 문화를 필요로 합니다. 아이월드는 모든 사람들이 지식생산자이고 공급자이며 수급자가
            되는 시대를 열어가고자 합니다.
            따라서 아이월드의 정책에 동의를 하고 위대한 유산을 후손에게 남겨주고자 하는 단체/기관
            개인/등은 언제든지 손을 잡을 수 있으며 협업이 가능합니다.
            <br>
            <br>
            <br>
            <b>특단조치</b>
            아이월드는 사회적 인 부조리를 배척하고 비합리적인 문명의 가치/ 비리와 반인간적인 행위/사회의 건강성을 해치는 어떠한 제안이나 정보. 파괴적인 행동/ 주의 주장/ 이념/ 가설적인 종교관/지역의
            패권/양극화 논리/ 이념의 논쟁/사이비종교 가치관정보/ 윤리의식의 박탈/ 유해한 영상 정보/ 거짓된 허위 정보 가짜뉴스/ 집단적인 주술/ 테러. 분란 /분열을 조정하는 어떠한 단체나 이념이나
            기관과의 협업을 철저하게 배척합니다.
            만약 이러한 내용으로 아이월드의 기업 가치와 방향성 목적을 흔드는 일을 하거나 청소년에게 유해한 정보라고 판단이 설 때는 철저하게 엄중문책하고 고발 고소 조치를 단행한다는 점을 고지합니다.
            <br>
            <br>
            <br>
            <b>청소년보호 헌장</b>
            아이월드는 엄선된 건강한 지식을 발취하고 연구하여 제공함으로서 청소년에게 끈끈하고 배려 넘치는 상호 소통의 강화를 기하고 올바르고 담대하며 강직하고 윤리적인 새로운 인간을 길러내는데 중점을
            두었다. 지금세계는 혼돈과 분열의 위기를 맞이하고 있으며 평화의 시계는 멈추어 섰고 모두가 자신의 이익을 구하는데 만 혈안이 되어가고 있다. 세기말적인 위기의 시대가 된 것은 인류애의 기초가
            무너져 내렸고 배려와 헌신과 인간존중의 문화가
            무너져 내렸기 때문이라는 데 엄중한 인식을 하면서 불행해진 인류의 가치를 치유하고
            지구촌에 항구적인 평화와 인류애가 넘쳐나는 세상을 만들어 가는데 총력을 기우리기로
            결심을 하였다. 아이월드는 자라나는 미래 세대들에게 좀 더 가치가 있고 인간의 존엄성이 싹트며 열린 세상지식과 지혜를 가까이 하도록 기회를 제공해 줌으로서 위기의 시대를 희망이 넘치는 시대로
            진입할 수 있는 기회를 만들어 가고자 한다. 우리는 청소년에게 가장 필요한 친구로 남을것이며 그들이 알고자 하거나 알아야 할 모든 지식과 상식과 가치를 제공하는데 최선의 노력을 다 할 것이다.
            <br>
            <br>
            <br>
            아이월드 창업주 의장 이찬석

        </div>
        <!-- footer -->
        <div th:replace="fragments/footer :: footer"></div>
    </div>

</body>

</html>