.flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    gap: 15px;
}

.board_title {
    font-size: 18px;
    font-weight: 700;
}