@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: url('../fonts/Pretendard-Regular.woff2');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src: url('../fonts/Pretendard-Medium.woff2');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src: url('../fonts/Pretendard-Bold.woff2');
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5em;
  }